root = true

[*]
insert_final_newline = true
indent_style = tab
indent_size = 4
tab_width = 4
trim_trailing_whitespace = true

[Makefile]
indent_size = 8
tab_width = 8
trim_trailing_whitespace = false

[*.{js,json,json5}]
indent_size = 2
tab_width = 2

[*.{json5,md,py,yaml,yml}]
indent_style = space

[*.tsv]
trim_trailing_whitespace = false
