.*.swp
.DS_Store
.nova
.python-version
.vscode
TAGS
jsdoc
node_modules
trans.tsv
doc/_build
doc/.python-version
doc/html
dist
trans-missing/*.tsv
trans-missing/*.json
tests/data/*.csv
tests/data/*.json
tests/data/*.xml
tests/pages/wcdatavis.js
tests/pages/wcdatavis.css
tests/pages/*.csv
tests/pages/*.json
tests/pages/*.xml
npm-debug.log
reports
.playwright-mcp
